<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/font.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/js/baoge.js"></script>
    <style>
        .layui-form-item {
            margin-right: 20px;
            margin-top: 10px;
        }
        .layui-btn-container {
            position: fixed;
            bottom: 0;
            text-align: center;
            right: 0px;
            left: 0px;
        }
        .disable_input_point{
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
</head>
<body>

<form class="layui-form" id="fjson">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 80px">池事件ID</label>
        <div class="layui-input-block">
            <input readonly="readonly"   type="text" name="id"
                   lay-verify="title" class="layui-input disable_input_point" th:value="${ThisPoolEvnet.id}" id="id">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 80px">祈愿池名称</label>
        <div class="layui-input-block">
            <input readonly="readonly" type="text" lay-verify="title" class="disable_input_point layui-input"
                   th:value="${ThisPoolEvnet.wish_event_name}" id="wish_event_name">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 80px">五星范围</label>
        <div class="layui-input-block">
            <input readonly="readonly" type="text"  lay-verify="title" class="disable_input_point layui-input"
                   th:value="${ThisPoolEvnet.unit_five_region}" id="unit_five_region">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 80px">四星范围</label>
        <div class="layui-input-block">
            <input readonly="readonly" type="text"  lay-verify="title" class="disable_input_point layui-input"
                   th:value="${ThisPoolEvnet.unit_four_region}" id="unit_four_region">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 80px">祈愿类型</label>
        <div class="layui-input-block">
            <select disabled id="wish_type" >
                <option th:selected="${ThisPoolEvnet.wish_type==1}" th:value="1">90抽保底无up池</option>
                <option th:selected="${ThisPoolEvnet.wish_type==2}" th:value="2">80抽保底武器up（75%）池</option>
                <option th:selected="${ThisPoolEvnet.wish_type==3}" th:value="3">90抽保底角色up（50%）池且有大保底</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 80px">开始时间</label>
        <div class="layui-input-block">
            <input type="text" name="start_time" lay-verify="title" id="start_time" placeholder="yyyy-MM-dd HH:mm:ss"
                   class="layui-input" th:value="${ThisPoolEvnet.start_time}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 80px">结束时间</label>
        <div class="layui-input-block">
            <input type="text" name="end_time" lay-verify="title" id="end_time" placeholder="yyyy-MM-dd HH:mm:ss"
                   class="layui-input" th:value="${ThisPoolEvnet.end_time}">
        </div>
    </div>
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-normal" id="login_but">确定</button>
        <button type="reset" class="layui-btn layui-btn-warm">重置</button>
    </div>
</form>

<script>
    var laydate = layui.laydate;
    laydate.render({
        elem: '#start_time'
        , type: 'datetime'
    });
    laydate.render({
        elem: '#end_time'
        , type: 'datetime'
    });
    $("#login_but").click(function () {
        if ($('#wish_event_name').val() == "") {
            layer.msg('祈愿池名称不能为空', {icon: 5, shade: 0.7});
            return;
        }
        if ($('#unit_five_region').val() == "") {
            layer.msg('五星范围不能为空', {icon: 5, shade: 0.7});
            return;
        }
        if ($('#unit_four_region').val() == "") {
            layer.msg('四星范围不能为空', {icon: 5, shade: 0.7});
            return;
        }
        if ($('#start_time').val() == "") {
            layer.msg('开始时间不能为空', {icon: 5, shade: 0.7});
            return;
        }
        if ($('#end_time').val() == "") {
            layer.msg('结束时间不能为空', {icon: 5, shade: 0.7});
            return;
        }
        if(new Date($('#end_time').val())<new Date($('#start_time').val())){
            layer.msg('结束时间不能小于开始时间', {icon: 5, shade: 0.7});
            return;
        }


        var fjson = JSON.stringify($("#fjson").serializeJson());
        console.log(fjson);
        $.ajax({
            type: "POST",
            async: false,
            url: "/to_change_this_pool",
            data: {"fjson": fjson},
            success: function (result) {
                if (result == "success") {
                    layer.msg('更新成功', {
                        icon: 16
                        , shade: 0.7
                        , time: 500
                    }, function () {
                        parent.location.reload();
                    });

                } else if (result == "error_1") {
                    layer.msg("更新失败", {icon: 5, shade: 0.7});
                }
            }
        });
    });
</script>
<script src="/js/disable_backspace.js"></script>
</body>
</html>